<div class="separator-bottom">
    <div class="title-bar">
        <h2 style="text-align: center;"><strong> CSCI 4370 Final: Simple Libary Platform</strong></h2>
    </div>
</div>
<div class="separator-bottom">
    <nav>
        <div style="display: flex; justify-content: space-around; align-items: center; width: 100%; background-color: #f4d1fcff;">
            <h3><a href="/">For You</a></h3>
            <h3><a href="/trending">Trending</a></h3>
            <h3><a href="/wishlist">Wishlist</a></h3>
            <h3><a href="/checkout">MyBooks</a></h3>
            <h3><a href="/account">Account</a></h3>
            <form action="/search" method="get" style="display: inline;">
                <input name="query" class="short-input" style="width: 100%;" type="text" placeholder="Search by Title, Author, or Genre";>
            </form>
            <h3><a href="/login" style="color: #b11313ff;">Logout</a></h3>
        </div>
    </nav>
</div>

{{> fragments/error_message}}