<div class="container framed">
    {{#users}}
    <div class="post">
        <img src="{{profileImagePath}}" alt="Profile">
        <div class="post-body">
            <a href="/user/{{userId}}" class="username">{{firstName}} {{lastName}}</a>
            <div class="post-content">
                User ID: {{userId}}
            </div>
        </div>
    </div>
    {{/users}}
</div>