<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>
    {{> fragments/top_bar}}

    <div style="max-width: 800px; margin-left: auto; margin-right: auto; 
                border: 3px solid #ffc0cb; border-radius: 10px; 
                background-color: #fff7f7;
                margin-top: 5em;">

        {{> fragments/extended_book}}
    </div>
    <div class = "button-container"; style="margin-top: 1em; display: flex; justify-content: center; gap: 20px;">
            {{> fragments/checkout_button}}
            {{> fragments/wishlist_button}}
    </div>

    <div style="max-width: 500px; margin-left: auto; margin-right: auto; 
                border: 3px solid #fb7c91ff; border-radius: 10px; 
                background-color: #ffc0cb;
                margin-top: 2em;">
        <h1 style="text-align: center;"><strong> You May Also Like... </strong></h1>
    </div>

    {{#booksAlsoLiked}}
        {{> fragments/recommended_book}}
    {{/booksAlsoLiked}}
    </div>

    {{> fragments/footer}}
</body>
</html>
