<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}
    <div style="max-width: 500px; margin-left: auto; margin-right: auto; 
                border: 3px solid #fb7c91ff; border-radius: 10px; 
                background-color: #ffc0cb;
                margin-top: 2em;">
            <h1 style="text-align:center; margin-top: 1em;"><strong>Home</strong></h1>
        </div>

    {{> fragments/no_content_message}}

    {{> fragments/footer}}

</body>

</html>