<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/no_content_message}}

    {{> fragments/posts_container}}

    {{> fragments/footer}}

</body>

</html>