<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    <div style="max-width: 500px; margin-left: auto; margin-right: auto; 
                border: 3px solid #fb7c91ff; border-radius: 10px; 
                background-color: #ffc0cb;
                margin-top: 2em;">
        <h1 style="text-align: center;"><strong>Books In Your Wishlist</strong></h1>
    </div>
    <div style="display: flex; align-items: center;">
        {{#isNoContent}}
            {{> fragments/no_content_message}}
        {{/isNoContent}}
    </div>
    
    <div style="display: flex; justify-content: center; flex-direction: column; gap: 20px; flex-wrap: wrap; margin: 1em auto; max-width: 800px;">
        {{#books}}
            <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
                {{> fragments/simple_book}}
                <form method = "get" action = "/wishlist/{{bookId}}/wishlisted/false">
                    <button type="submit"
                        style="
                            padding: 15px 50px;
                            font-size: 1rem;
                            border-radius: 8px;
                            background-color: #f0ad4e;
                            border: none;
                            color: white;
                            cursor: pointer;
                        ">
                        Remove from wishlist
                    </button>
                </form>
            </div>
        {{/books}}
    </div>
        
    {{> fragments/footer}}
</body>
</html>